.home {
  background: url(../../images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container::after,
.home-container::before {
  height: 100%;
  content: " ";
  position: absolute;
  top: 0;
  width: 26%;
}
.home-container::after {
  right: 0;
  background-color: var(--primary-color);
  z-index: -1;
}
