.service-appoinment {
  background: url(../../images/appointment.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 100px;
  position: relative;
  margin-top: 150px;
}
.serice-appoinment-pic {
  position: absolute;
  top: -294px;
  left: -7%;
}
.serice-appoinment-pic img {
  transform: scale(0.7);
}
.service-appoinmen-content h3 {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 24px;
  color: var(--secondary-color);
}

.service-appoinmen-content h1 {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 52px;
  color: var(--white-color);
  line-height: 68px;
  padding-top: 13px;
}
.service-appoinmen-content p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
  line-height: 32px;
  padding-top: 13px;
  padding-right: 100px;
}
.service-appoinmen-content button {
  margin-top: 25px;
}
