.feature-service-content h1 {
  font-family: var(--poppins);
  font-size: 38px;
  font-weight: 500;
  color: var(--primary-color);
  padding-right: 300px;
  line-height: 55px;
}
.feature-service-content p {
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-color);
  padding-right: 200px;
  margin-top: 30px;
  line-height: 28px;
  padding-bottom: 40px;
}
